 <!--INÍCIO DO MENU -->
 <div class="col-md-9 col-xs-12">

   <menu-item *ngFor="let item of menu | async"
              [menuItem]="item" (add)="shoppingCart.addItem($event)"></menu-item>

  

</div>
<div class="col-md-3 col-xs-12">
    <shopping-cart #shoppingCart></shopping-cart>
</div>
<!-- FIM DO MENU -->